= bootstrap_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, class: 'form-devise' }) do |f|
  %h2= t('.title')
  = devise_error_messages!
  = f.email_field :email, :autofocus => true
  = f.submit t('.submit')
  %p
    = render "devise/shared/links"
