%h4 Hello, #{@user.display_name}!

%p You were tipped #{btc_human @tip.amount} for your commit on Project #{@tip.project.full_name}. Please, log in and tell us your bitcoin address to get it.

%p Your current balance is #{btc_human @user.balance}. If you don't enter a bitcoin address your tips will be returned to the project in 30 days.

%p If you don't need bitcoins you can redirect your funds to any charity by using its address which you can find at #{link_to 'coingiving.com', 'https://coingiving.com/'}.

%p= link_to 'Sign In', login_users_url(token: @user.login_token)

%p Thanks for contributing to Open Source!

%p= link_to "tip4commit.com", "https://tip4commit.com/"

%p
  %small
    = link_to "Don't notify me anymore, I don't need tips.", login_users_url(token: @user.login_token, unsubscribe: true)


.alert.alert-warning We are not affiliated with most of the projects, their owners might not endorse use of tip4commit.
