%h1= t('.title')
%p
  %table.table.table-striped
    %thead
      %tr
        %th= t('.created_at')
        %th= t('.transaction')
        %th= t('.result')
    %tbody
      - @sendmanies.each do |sendmany|
        %tr
          %td= l(sendmany.created_at, format: :short)
          %td= link_to sendmany.txid, "#{block_explorer_tx_url(sendmany.txid)}", target: '_blank'
          %td= sendmany.is_error ? t('.error') : t('.success')
