%h1= t('.title')
%p
  %table.table.table-striped
    %thead
      %tr
        %th= t('.name')
        %th= t('.commits_count')
        %th= t('.withdrawn')
    %tbody
      - @users.each do |user|
        %tr
          %td 
            - if user.nickname.blank?
              = user.display_name
            - else
              = link_to user.display_name, "https://github.com/#{user.nickname}", target: '_blank'
          %td= user.commits_count
          %td= btc_human user.withdrawn_amount
  = paginate @users
