%h1= @user.display_name
%p
  %strong= t('.balance')
%p
  = btc_human @user.balance, @user.denom
  = form_for(@user) do |f|
    = f.select :denom,
        options_for_select([["BTC", "0"], ["mBTC", "1"], ["μBTC", "2"], ["Satoshi", "3"]], selected: @user.denom)
    = f.submit "save"
%p
  %small= raw t('.threshold', threshold: btc_human(CONFIG["min_payout"], @user.denom))

- if @user_tips.count > 0
  %p
    %strong Last Tips
    - if @user_tips.count > 5
      = link_to t('.see_all'), user_tips_path(@user)
  %ul
    - @recent_tips.each do |tip|
      %li
        = raw t('.received', time: l(tip.created_at, format: :short), amount: btc_human(tip.amount, @user.denom), commit: link_to(tip.commit[0..6], "https://github.com/#{tip.project.full_name}/commit/#{tip.commit}", target: :blank), project: link_to(tip.project.full_name, pretty_project_path(tip.project)))

%p
  %strong= User.human_attribute_name(:email)
%p= @user.email
= twitter_bootstrap_form_for @user do |f|
  = f.text_field :bitcoin_address, placeholder: t('.bitcoin_address_placeholder')
  - if @user.gravatar_bitcoin.present?
    %span.from-gravatar{data:{for: 'user[bitcoin_address]', value: @user.gravatar_bitcoin }}
      = "#{t('.use_from_gravatar')}: #{@user.gravatar_bitcoin}"
  = f.text_field :display_name
  - if @user.gravatar_display_name.present?
    %span.from-gravatar{data:{for: 'user[display_name]', value: @user.gravatar_display_name }}
      = "#{t('.use_from_gravatar')}: #{@user.gravatar_display_name}"
  - if f.object.bitcoin_address.blank?
    = f.check_box :unsubscribed, t('.notify'), { checked: !f.object.unsubscribed? }, '0', '1'
  %br
  = f.submit t('.submit_user')
%br
%p
  %strong= link_to t('.change_password'), '#new_password_form', data: {toggle: "collapse"}

= twitter_bootstrap_form_for @user, html: {class: (params[:new_password] ? '' : 'collapse'), id: 'new_password_form'} do |f|
  = hidden_field_tag :new_password, value: true
  = f.password_field :password, autofocus: true, autocomplete: "off"
  = f.password_field :password_confirmation, autocomplete: "off"
  = f.submit t('.submit_password')
