= bootstrap_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, class: 'form-devise' }) do |f|
  %h2= t('.title')
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  = f.password_field :password, :autofocus => true, :autocomplete => "off"
  = f.password_field :password_confirmation, :autocomplete => "off"
  = f.submit t('.submit'), class: 'btn btn-primary'
  %p
    = render "devise/shared/links"
