.jumbotron
  %h1= t('meta.title')
  %p.lead= t('meta.description')

  %a.btn.btn-lg.btn-success{href: projects_path}= t('.see_projects')

.row
  .col-lg-4
    %h2= t('.how_does_it_work.title')
    %p= t('.how_does_it_work.text')
    %p
      %a.btn.btn-primary{href: "https://weusecoins.com/", target: '_blank'}
        = t('.how_does_it_work.button')
        »
  .col-lg-4
    %h2= t('.donate.title')
    %p= t('.donate.text')
    %p
      %a.btn.btn-primary{href: projects_path}
        = t('.donate.button')
        »
  .col-lg-4
    %h2= t('.contribute.title')
    %p
      = t('.contribute.text')
      - if !current_user
        = raw t('.contribute.sign_in_text', sign_in_link: link_to(t('links.sign_in'), new_user_session_path))
        - if Devise.mappings[:user].registerable?
          = raw t('.contribute.sign_up_text', sign_up_link: link_to(t('links.sign_up'), new_user_registration_path))
          = raw " #{list_friendly_text (User.omniauth_providers.map { |provider| t(provider , scope: :omniauth_providers)}) , t('general.or')}."
    %p
      %a.btn.btn-primary{href: projects_path}
        = t('.contribute.button')
        »
