= bootstrap_form_for @project, url: decide_tip_amounts_project_path(@project) do |f|
  %table.table.table-hover.decide-tip-amounts-table
    %thead
      %tr
        %th= t('.commit')
        %th= t('.author')
        %th= t('.message')
        %th= t('.tip')
    %tbody
      = f.fields_for(:tips, @project.tips.undecided) do |tip_fields|
        = tip_fields.hidden_field :id
        - tip = tip_fields.object
        %tr
          %td= link_to commit_tag(tip.commit), tip.commit_url, target: '_blank'
          %td= tip.user.nickname
          %td= simple_format tip.commit_message
          %td
            - Tip::AVAILABLE_AMOUNTS.each do |amount|
              = tip_fields.radio_button :amount_percentage, amount[1], inline: true, label: t(amount[0], scope: 'tip_amounts')

  .text-center
    = f.submit t('.submit'), class: 'btn btn-primary'
