%h1= t('menu.projects')
%p
  = form_tag search_projects_path, role: 'form', method: :get do |f|
    .form-group
      .row
        .col-lg-12
          .input-group
            = text_field_tag :query, '', class: 'form-control', placeholder: t('.find_project.placeholder'), :value => params[:query]
            = hidden_field_tag :order, params[:order] || 'balance'
            %span.input-group-btn
              = button_tag t('.find_project.button'), class: "btn btn-default", name: nil
%p
  - if @projects.count > 0
    %table.table.table-striped#projects_table
      %thead
        %tr
          %th
          %th= link_to_unless_current t('.repository'), params.merge(:order => 'repository')
          %th= link_to_unless_current t('.description'), params.merge(:order => 'description')
          %th= link_to_unless_current t('.watchers'), params.merge(:order => 'watchers')
          %th= link_to_unless params[:order].blank? || params[:order] == 'balance', t('.balance'), params.merge(:order => 'balance')
          %th
      %tbody
        - @projects.to_a.reject{|p| BLACKLIST.include?(p.github_url) }.each do |project|
          %tr
            %td
              = image_tag project.avatar_url , class: 'project_avatar_img' if project.avatar_url
            %td
              %strong= link_to project.full_name, pretty_project_path(project)
              - if !project.source_full_name.blank?
                %br
                %nobr
                  %small
                    = t('.forked_from')
                    = link_to project.source_full_name, project.source_github_url, target: '_blank'
            %td= project.description
            %td.rjust= project.watchers_count
            %td.rjust= btc_human project.available_amount_cache
            %td= link_to t('.support'), pretty_project_path(project), class: 'btn btn-xs btn-success'
    = paginate @projects
  - else
    .alert.alert-warning{role: 'alert'}
      = I18n.t('errors.project_not_found')
      = I18n.t('errors.opt_in_notice', create_issue_link: link_to(t('links.create_issue'), 'https://github.com/tip4commit/tip4commit/issues/new', target: '_blank')).html_safe
