- content_for :title do
  = t('.title', project: @project.name)
- content_for :description do
  = @project.description

- if @project.disable_notifications
  .alert.alert-danger= t('.disabled_notifications')

%h1#project_header
  = (@project.avatar_url.nil?)? (glyph :github) : (image_tag @project.avatar_url , class: 'project_avatar_img')
  = link_to @project.full_name , @project.github_url, target: '_blank'
  .pull-right
    - if can? :update, @project
      = link_to t('.edit_project'), edit_project_path(@project), class: "btn btn-primary"
    - if can? :decide_tip_amounts, @project and @project.has_undecided_tips?
      = link_to t('.decide_tip_amounts'), decide_tip_amounts_project_path(@project), class: "btn btn-warning"

.row
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h4.panel-title= t('.project_sponsors')
      .panel-body
        %iframe{ src: "//coingiving.com/project_sponsors?locale=#{I18n.locale}&url=#{project_url(@project, :protocol => 'https')}", scrolling: "no", style: 'width:100%; height:500px; border:0px; padding:0;overflow:hidden'}
        .hidden
          %span(data-coingiving="title")= "[tip4commit] " + @project.full_name
          %span(data-coingiving="description")= @project.description
          %span(data-coingiving="bitcoin-address")= @project.bitcoin_address
        %p
          = t('.fee', percentage: number_to_percentage(100-CONFIG["our_fee"]*100, precision: 0))

  .col-md-8
    - unless @project.description.blank?
      .well.well-sm= @project.description
    %h4
      = t('.balance')
      - if @project.deposits.count > 0
        %small= link_to t('.deposits'), project_deposits_path(@project)
    = btc_human @project.available_amount
    - if @project.hold_tips?
      = t('.custom_tip_size')
    - else
      = t('.default_tip_size', percentage: number_to_percentage(CONFIG["tip"]*100, precision: 0))
      - if CONFIG["min_tip"].present?
        %a.noclick{href:'#', data: {toggle: 'tooltip'}, title: t('.min_tip_size', min_tip: btc_human(CONFIG["min_tip"], {nobr: false})), rel: 'tooltip'}
          *

    - if @project.unconfirmed_amount > 0
      = raw t('.unconfirmed_amount', amount: btc_human(@project.unconfirmed_amount))

    - if @project.tipping_policies_text.try(:text).present?
      %h4= t('.tipping_policies')
      = simple_format @project.tipping_policies_text.text
      %small
        %em
          - user = @project.tipping_policies_text.user
          - name = user.nickname.presence || user.name if user
          - date = l(@project.tipping_policies_text.updated_at)
          - if name.present?
            = t('.updated_by_user', name: name, date: date)
          - else
            = t('.updated_by_unknown', date: date)

    %h4= t('.tips_paid')
    = btc_human @project.tips_paid_amount
    - if (tips_paid_unclaimed_amount = @project.tips_paid_unclaimed_amount) > 0
      = raw t('.unclaimed_amount', amount: btc_human(tips_paid_unclaimed_amount))

    - if @project_tips.count > 0
      %h4
        =t('.last_tips')
        - if @project_tips.count > 5
          %small= link_to t('.see_all'), project_tips_path(@project)
      %ul
        - @recent_tips.each do |tip|
          %li
            = l tip.created_at, format: :short
            - if tip.user.nickname.blank?
              = tip.user.display_name
            - else
              = link_to tip.user.display_name, "https://github.com/#{tip.user.nickname}", target: '_blank'
            - if tip.decided?
              = raw t('.received', amount: btc_human(tip.amount))
            - else
              = t('.will_receive')
            = t('.for_commit')
            = link_to tip.commit[0..6], "https://github.com/#{@project.full_name}/commit/#{tip.commit}", target: :blank
            - if tip.undecided?
              = t('.when_decided')

    - if @project.next_tip_amount > 0
      %h4= t('.next_tip')
      = btc_human @project.next_tip_amount

    %h4= t('.contribute_and_earn')
    = raw t('.contribute_and_earn_description', make_commits_link: link_to(t('.make_commits_link'), @project.github_url, target: '_blank'), branch: @project.branch.present? ? t('.contribute_and_earn_branch', branch: @project.branch) : '')

    - if current_user
      - if current_user.bitcoin_address.blank?
        = raw t('.tell_us_bitcoin_address', tell_us_link: link_to(t('.tell_us_link'), current_user))
    - else
      = raw t('.sign_in', sign_in_link: link_to(t('links.sign_in_imp'), new_user_session_path))

    %h4= t('.promote_project', project: @project.full_name)
    %p
      / AddThis Button BEGIN
      .addthis_toolbox.addthis_default_style.addthis_32x32_style(addthis:data_track_clickback="false" addthis:data_track_addressbar="false"
      addthis:ui_language="#{I18n.locale}")
        %a.addthis_button_preferred_1
        %a.addthis_button_preferred_2
        %a.addthis_button_preferred_3
        %a.addthis_button_preferred_4
        %a.addthis_button_compact
        %a.addthis_counter.addthis_bubble_style
      / AddThis Button END

    %h4= t('.embedding')
    %p= link_to image_tag(shield_url(@project), alt: t('tip4commit')), pretty_project_url(@project)
    %form.form-horizontal
      %div.form-group
        %label.control-label.col-sm-2{for: 'image_url'}= t('.image_url')
        %div.col-sm-10
          %input.form-control{id: 'image_url', type: 'text', value: "#{shield_url(@project)}"}
      %div.form-group
        %label.control-label.col-sm-2{for: 'markdown_text'} Markdown:
        %div.col-sm-10
          %input.form-control{id: 'markdown_text', type: 'text', value: "[![#{t('.shield_title')}](#{shield_url(@project)})](#{pretty_project_url(@project)})"}
      %div.form-group
        %label.control-label.col-sm-2{for: 'textile_text'} Textile:
        %div.col-sm-10
          %input.form-control{id: 'textile_text', type: 'text', value: "!#{shield_url(@project)}!:#{pretty_project_url(@project)}"}
      %div.form-group
        %label.control-label.col-sm-2{for: 'rdoc_text'} RDOC:
        %div.col-sm-10
          %input.form-control{id: 'rdoc_text', type: 'text', value: "{<img src=\"#{shield_url(@project)}\" alt=\"#{t('.shield_title')}\" />}[#{pretty_project_url(@project)}]"}
      %div.form-group
        %label.control-label.col-sm-2{for: 'asciidoc_text'} AsciiDoc:
        %div.col-sm-10
          %input.form-control{id: 'asciidoc_text', type: 'text', value: "image:#{shield_url(@project)}[\"#{t('.shield_title')}\", link=\"#{pretty_project_url(@project)}\"]"}
      %div.form-group
        %label.control-label.col-sm-2{for: 'rst_text'} Rst:
        %div.col-sm-10
          %input.form-control{id: 'rst_text', type: 'text', value: ".. image:: #{shield_url(@project)}   :target: #{pretty_project_url(@project)}"}
      %div.form-group
        %label.control-label.col-sm-2{for: 'pod_text'} POD:
        %div.col-sm-10
          %input.form-control{id: 'pod_text', type: 'text', value: "=for HTML <a href=\"#{pretty_project_url(@project)}\"><img src=\"#{shield_url(@project)}\"></a>"}
      %div.form-group
        %label.control-label.col-sm-2{for: 'bbcode_text'} BBCode:
        %div.col-sm-10
          %input.form-control{id: 'bbcode_text', type: 'text', value: "[url=#{pretty_project_url(@project)}][img]#{shield_url(@project)}[/img][/url]"}
