= twitter_bootstrap_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-devise session_form' }) do |f|
  = devise_error_messages!
  %h2= t('.title')
  = f.email_field :email, :autofocus => true
  = f.password_field :password, :autocomplete => "off"
  - if devise_mapping.rememberable?
    %div
      = f.check_box :remember_me, t('.remember_me')
  = f.submit t('.submit')
  %p
    = render "devise/shared/links"
