%h1
  - if @project
    = raw t('.project_deposits', project: link_to(@project.full_name, pretty_project_path(@project)))
  - else
    = t('.deposits')
%p
  %table.table
    %thead
      %tr
        %th= t('.created_at')
        - unless @project
          %th= t('.project')
        %th= t('.amount')
        %th= t('.fee')
        %th= t('.transaction')
        %th= t('.confirmed')
    %tbody
      - @deposits.each do |deposit|
        %tr
          %td= l deposit.created_at, format: :short
          - unless @project
            %td= link_to(deposit.project.full_name, deposit.project)
          %td= btc_human deposit.amount
          %td= btc_human deposit.fee
          %td= link_to deposit.txid, "https://blockchain.info/tx/#{deposit.txid}", target: :blank
          %td= deposit.confirmed? ? t('.confirmed_yes') : t('.confirmed_no')

  = paginate @deposits
