%h1
  - if @project
    = raw t('.project_tips', project: link_to(@project.full_name, pretty_project_path(@project)))
  - elsif @user
    = raw t('.user_tips', user: link_to(@user.display_name, @user))
  - else
    = t('.tips')
%p
  %table.table.table-striped
    %thead
      %tr
        %th= t('.created_at')
        - unless @user
          %th= t('.commiter')
        - unless @project
          %th= t('.project')
        %th= t('.commit')
        %th= t('.amount')
        %th= t('.withdrawal')
    %tbody
      - @tips.each do |tip|
        %tr
          %td= l tip.created_at, format: :short
          - unless @user
            %td
              - if tip.user.nickname.blank?
                = tip.user.display_name
              - else
                = link_to tip.user.display_name, "https://github.com/#{tip.user.nickname}", target: '_blank'
          - unless @project
            %td= link_to tip.project.full_name, pretty_project_path(tip.project)
          %td= link_to tip.commit[0..6], "https://github.com/#{tip.project.full_name}/commit/#{tip.commit}", target: :blank
          %td= btc_human tip.amount
          %td
            - if tip.sendmany.nil?
              - if tip.refunded_at
                = t('.refunded')
              - elsif tip.undecided?
                = t('.undecided')
              - elsif tip.user.balance < CONFIG["min_payout"]
                = t('.below_threshold')
              - else
                = t('.waiting')
            - else
              - if tip.sendmany.txid.present?
                = link_to tip.sendmany.txid, "https://blockchain.info/tx/#{tip.sendmany.txid}", target: :blank
              - else
                = t('.waiting')
                - if tip.sendmany.is_error
                  = t('.error')
  = paginate @tips
