%h1
  - if @project
    = link_to @project.full_name, @project
    tips
  - else
    Tips
%p
  %table.table
    %thead
      %tr
        %th Created At
        %th Commiter
        - unless @project
          %th Project
        %th Commit
        %th Amount
        %th Withdrawal
    %tbody
      - @tips.each do |tip|
        %tr
          %td= l tip.created_at, format: :short
          %td
            - if tip.user.nickname.blank?
              = tip.user.full_name
            - else
              = link_to tip.user.full_name, "https://github.com/#{tip.user.nickname}", target: '_blank'
          - unless @project
            %td= link_to tip.project.full_name, tip.project
          %td= link_to tip.commit[0..6], "https://github.com/#{tip.project.full_name}/commit/#{tip.commit}", target: :blank
          %td= btc_human tip.amount
          %td
            - if tip.sendmany.nil?
              - if tip.refunded_at
                Refunded to project's deposit
              - elsif tip.user.bitcoin_address.blank?
                User didn't specify withdrawal address
              - elsif tip.user.balance < CONFIG["min_payout"]
                User's balance is below withdrawal threshold
              - else
                Waiting for withdrawal
            - else
              = link_to tip.sendmany.txid, "https://blockchain.info/tx/#{tip.sendmany.txid}", target: :blank
  = paginate @tips
