!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %link{href: "/favicon.png", rel: "shortcut icon"}/

    %title= t('tip4commit') + " — " + (content_for?(:title) ? yield(:title) : " " + t('meta.title'))

    %meta{name: 'description', content: (content_for?(:description) ? yield(:description) : t('meta.description'))}
    %meta{name: 'keywords', content: 'open source,contribute,github,community,git,bitcoin,tips,perks'}
    / %meta{:property => 'og:image', :content => asset_path('logo.png')}
    / %link{:rel => 'image_src', :type => 'image/png', :href => asset_path('logo.png')}

    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"

    :javascript
      I18n.locale = "#{I18n.locale}";

    = csrf_meta_tags
  %body
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-1115214-16', 'tip4commit.com');
      ga('send', 'pageview');
    .container
      .masthead
        %div.pull-right
          %small
            - if current_user
              = current_user.display_name
              \/
              = link_to btc_human(current_user.balance), current_user
              \/
              = link_to t('links.sign_out'), destroy_user_session_path, method: :delete
            - else
              - if controller_name != 'registrations'
                = link_to t('links.sign_up'), new_user_registration_path
              - unless %w{sessions registrations}.include? controller_name
                = " or "
              - if controller_name != 'sessions'
                = link_to t('links.sign_in'), new_user_session_path

        %h3.text-muted.code-pro= t('tip4commit')

        = render 'common/menu'

      %br

      = render_flash_messages

      = yield

      .footer
        .alert.alert-warning
          %p
            We are not affiliated with most of the projects, their owners may be unaware of or actively against using tip4commit. Due to potential ethical and legal issues we may remove any project from the list by request of project maintainers.

          %p
            Also we are not notifying developers about their tips anymore. Thus we can't guarantee that donated funds will really reach them.

          %p
            By donating funds you agree that they can be sent to Free Software Foundation or elsewhere at Tip4Commit's discretion.
      
        %p.pull-right
          - ::Rails.application.config.available_locales.each do |locale|
            = link_to image_tag("flags/#{locale}.png"), "?locale=#{locale}", data: {no_turbolink: true}
        %p
          ©
          = link_to t('tip4commit'), 'http://tip4commit.com/', target: '_blank'
          2013-#{Date.today.year}.
          = raw t('footer.text', github_link: link_to(t('footer.github_link'), 'https://github.com/tip4commit/tip4commit', target: '_blank'), support_link: link_to(t('footer.support_link'), 'http://tip4commit.com/projects/307'))
          = link_to t('footer.follow_link'), 'https://twitter.com/tip4commit', target: '_blank'
